Assets/Scenes/Main.unity filter=lfs diff=lfs merge=lfs -text
Assets/Materials/WoodLog/Materials/Wood_Log_normal.png filter=lfs diff=lfs merge=lfs -text
*.unity filter=lfs diff=lfs merge=lfs -text

# Enforce consistent line endings
* text=auto

# Unity-specific files should always use LF
*.cs text eol=lf
*.shader text eol=lf
*.meta text eol=lf
*.unity text eol=lf
*.prefab text eol=lf