.main-panel #_content[data-uid] .class-sub-title .inheritance .inherit:nth-last-child(n+2), .main-panel #_content[data-uid] #eii, .main-panel #_content[data-uid] #eii + .table-responsive
{
    display: none;
}

.main-panel #_content[data-uid] .class-sub-title .separator
{
    margin-left: 10px;
    margin-right: 10px;
}

.main-panel #_content[data-uid] .class-sub-title .implements .next-implements
{
    margin-right: 5px;
}

.main-panel #_content[data-uid] .class-sub-title .implements .next-implements:last-child
{
    display: none;
}

.main-panel #_content[data-uid] .class-sub-title * {
    color: #99a0a7;
    display: inline;
}

.main-panel #_content[data-uid] .class-sub-title{
    font: 16px/135% 'Roboto', sans-serif;
}

.main-panel #_content[data-uid] .class-sub-title p {
    font-size: 0.875em;
}

#sidebar ul.nav > li > a
{
    margin: 2px 16px;
    padding: 0;
}

nav#sidebar {
    width: 350px;
}

nav #toc ul li:has(> a)
{
    display: none;
}

#sidebar #toc ul.level1 > li > a.sidebar-item
{
    border-radius: 3px;
    padding: 5px 10px;
    margin: 0 0 2px;
}

.os-scrollbar-theme.os-scrollbar-vertical
{
    width: 15px;
    height: 100%;
}

.os-scrollbar-theme.os-scrollbar-vertical > .os-scrollbar-track
{
    width: 9px;
    margin-right: 3px;
    margin-left: 3px;
}

.os-scrollbar-theme.os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle 
{
    background-color: rgba(0,0,0,.4);
    width: 100%;
    border-radius: 4.5px;
}

.main-panel h5
{
    font-size: 1.25em;
}

.main-panel h6
{
    font-size: 1.1em;
}

@media (max-width: 1024px)
{
    nav#sidebar
    {
        position: absolute !important;
    }
}

/* For Embedded Video */
div.embeddedvideo {
    padding-top: 28.125%;
    position: relative;
    width: 50%;
    margin: 0 auto;
}

@media (max-width: 1024px)
{
    div.embeddedvideo {
        width: 100% !important;
    }
}

div.embeddedvideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

/* For tabbed content */

.tabGroup {
    margin-top: 1rem; }
.tabGroup ul[role="tablist"] {
    margin: 0;
    padding: 0;
    list-style: none; }
.tabGroup ul[role="tablist"] > li {
    list-style: none;
    display: inline-block; }
.tabGroup ul[role="tablist"] > li:not(:first-child)
{
    margin-left: 0;
}
.tabGroup ul[role="tablist"]{
    display: flex;
}
.tabGroup ul[role="tablist"] > li:not(:last-child)
{
    margin-right: 0;
}
.tabGroup ul[role="tablist"] > li:not(:first-child) a[role="tab"] {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.tabGroup ul[role="tablist"] > li:not(:last-child) a[role="tab"] {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.tabGroup a[role="tab"] {
    font-size: 1em;
    font-weight: 400;
    display: block;
    padding: 4px 16px;
    color: var(--link-active-color);
    border: solid 1px var(--link-active-color);
    border-radius: 4px;
}
.tabGroup a[role="tab"]:hover, .tabGroup a[role="tab"]:focus {
    color: var(--link-active-bg-color);
    background-color: var(--link-active-color);
    text-decoration: none;
}
.tabGroup a[role="tab"][aria-selected="true"] {
    border-color: var(--link-active-bg-color);
    background-color: var(--link-active-bg-color);
    color: var(--link-active-color);
}
.tabGroup section[role="tabpanel"] {
    margin: 8px 0;
    padding: 15px;
    background: var(--blockquote-bg-color);
    border-radius: 4px;
    overflow: hidden; }
.tabGroup section[role="tabpanel"] > p {
    margin: 0; }
.tabGroup section[role="tabpanel"] > .codeHeader,
.tabGroup section[role="tabpanel"] > pre {
    margin-left: -16px;
    margin-right: -16px; }
.tabGroup section[role="tabpanel"] > :first-child {
    margin-top: 0; }
.tabGroup section[role="tabpanel"] > pre:first-child {
    display: block;
    margin-top: -16px; }
.tabGroup section[role="tabpanel"] > pre:last-child {
    display: block;
    margin-bottom: -16px; }
/*    
.tabGroup section[role="tabpanel"] p {
    display: grid;
}
.tabGroup section[role="tabpanel"] img {
    align-self: center;
    justify-self: center;
}*/
@media (min-width: 1024px)
{
    .tabGroup section[role="tabpanel"] img {
        max-width: 50%;
    }
}

.main-page
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 24px;
}

a.main-link img {
    width:100%;
    border-radius: 8px;
    transition: opacity 0.25s;
    vertical-align: middle;
}

a.main-link img:first-child
{
    z-index: 0;
}

a.main-link img:last-child
{
    z-index: 1;
    transform: translateX(-100%);
    opacity: 0;
}

a.main-link img:first-child:hover
{
    opacity: 0;
}

a.main-link img:last-child:hover
{
    opacity: 1;
}

a.main-link {
    overflow: hidden;
    white-space: nowrap;
    width: calc(50% - 24px);
}

a.main-link:hover {
    border-color: white;
}
